*.o

Makefile
Makefile.in
install-sh
libtool
missing
mkinstalldirs
aclocal.m4
configure
config.log
config.cache
config.status
config.guess
config.sub
ltmain.sh
version
aoss
.deps
.libs
*.lo
*.la
depcomp
autom4te.cache
compile

alsa/testaoss
alsa/aoss.old
test/testaoss
